<h3 *ngIf="form">{{form.name}} form submission page</h3>
<div *ngIf="submission.fieldSubmissions" class="container form-container">
  <form (ngSubmit)="onSubmit(); submissionForm.resetForm();" #submissionForm="ngForm">
    <div class="form-group" *ngFor="let fieldSubmission of submission.fieldSubmissions">
      <label for="field">{{ fieldSubmission.field.fieldName }}</label>
      <input type="{{fieldSubmission.field.type}}" class="form-control" id="field" [(ngModel)]="fieldSubmission.inputValue" name="{{fieldSubmission.field.fieldName}}" #name="ngModel" required>
    </div>
    <div class="submit-btn">
      <button type="submit" class="btn btn-primary" [disabled]="!submissionForm.form.valid">Submit</button>
    </div>
    <div class="g-recaptcha" data-sitekey="6Lebtm4UAAAAANRrzXDZkbnpvW2gzkdUF_EbcviQ"></div>
  </form>
</div>
