h3{
  text-align: center;
  margin: 20px;
}

.table th {
  text-align: center;
}

.table td {
  text-align: center;
}
.color-box{
  height: 30px;
  width: 100%;
  border-radius: 5px;
}
